<h1 class="my-5">Nos Pilotes</h1>



<p [style.color]="colorOne">
    style.color est une couleur en props
</p>

<p [style.color]="getCouleur()">
    style.color fonctionne avec une methode!!!
</p>
<p [style.background-color]="getCouleur()">
    style.background-color fonctionne avec une methode!!!
</p>

<p [style.color]="'green'">
    style.color fonctionne en dur mais bon....
</p>

<p [class]="getBootstrap()">
    Et là ????? Bein ca bootstrapise Mais ça sert à rien !!!!!
</p>


<h1 [style.background-color]="onOff ? colorOne : getCouleur()">

    Affichage selon condition
</h1>

<button (click)="onSwitch()" class="btn btn-dark">
    <span *ngIf="!onOff">On</span>
    <span *ngIf="onOff">Off</span>
°,...,°
</button>